<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Jungle.com, <%= @user %></h1>
    <p>
      You have successfully ordered from the Jungle Store. <br/>
      Your order breakdown is as follows: <br>
    </p>
    <p>
     Visit us often to see the great items and specials we have ! Just follow this link: <%=  %>.
    </p>
    <p>Thanks for shopping with Jungle and have a great day!</p>
  </body>
</html>